@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: #000; */
}
a{
    text-decoration: none;
}
.hero{
    width: 100%;
    height: 100vh;
    /* background: url(My\ project.png); */
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    max-height: 100px;
    border-radius: 50%;
    mix-blend-mode: screen;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    /* color: #1d1d24; */
    color: #fff;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #fd4766;
}
nav ul li a:after{
    color: #fff;
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 22px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
}
.btn>i{
  font-size: 1rem;
  margin: 5px;
  color: white;
}
.btn>i:hover{
  color: #fd4766;
  
}
.btn:hover{
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
#span{
  cursor: pointer;
  transition: 3s all linear;
}

.content .title{
    color: #1f1f25;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    /* color: #fff; */
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #fd4766;
}
.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}
.soc{
  display: flex;
  flex-direction: column;
  float: right;
  color: white;
  font-size: 2rem;
  position: relative;
  right: 20px;
  top: 350px;
}
.soc ul{
  list-style: none;
  
}
.soc ul li a{
  text-decoration: none;
  color: white;
}
.soc>ul>li>a>#facebook:hover{
  color: #1c99fe;
}
.soc>ul>li>a>#github:hover{
  color: rgb(217, 190, 154);
}
.soc>ul>li>a>#linkedin:hover{
  color: rgb(93, 149, 229);
}
.soc>ul>li>a>#insta:hover{
  color: #fd4766;
}
#bar{
  display: none;
  color: white;
  float: right;
  font-size: 2.5rem;
}
#bar2{
  display: none;
  color: white;
  float: right;
  font-size: 2.5rem;
}
@media screen and (max-width:480px){
  #span{
    font-size: 4rem;
  }
  #bar{
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 80px;
    padding: 5px;
  }
  #bar2{
    display: none;
    position: relative;
    right: 10px;
    bottom: 80px;
    padding: 5px;
  }
  ul{
    display: none;
    float: right;
    z-index: 99;
    background-color: #1f1f25;
    transition: all 3s ease-in-out;
  }
  .btn{
    padding: 2px;
    
  }
  #btn1{
    /* padding: 5px; */
    position: absolute;
    padding: 5px;
    font-size: 0.8rem;
    left: 2rem;
    top: 8rem;
    
  }
   .soc>ul{
    position: absolute;
    right: 6px;
    top: 250px;
    display: block;
  }
  .logo{
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 4rem;
  }
  #dark{
    position: absolute;
    left: 10rem;
    top: 3rem;

  }
  #bar{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  
}
